@charset "utf-8";

.glava{
	background-image:url(../Backgrounds/ACKnapis.png);
	background-repeat:no-repeat;
	width:893px;
	height:187px;
	font-size: 15px;
	color: rgba(47,175,1,1);
}
.glavaTabela{
	border-collapse:collapse;
	border-spacing:0;
	margin-top:-10px;
}

.GlavniMenuG {
    background-color: #251e01;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 100%;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}

.gumbG1 {
    color: #3bd71a; 
    border-radius: 50% 0 0 50%;
	min-width:90px;
	max-width:110px;
	width: 10%;
	height: 10%;
}

.gumbG1:hover {
    background-color: #927604;
    color: #1eac00;
}

.gumbG2 {
    color: #3bd71a; 
	min-width:110px;
	max-width:130px;
	width: 10%;
	height: 10%;
}

.gumbG2:hover {
    background-color: #927604;
    color: #1eac00;
}

.gumbG4 {
    color: #3bd71a; 
	min-width:175px;
	max-width:195px;
	width: 11%;
	height: 10%;
}

.gumbG4:hover {
    background-color: #927604;
    color: #1eac00;
}

.gumbG3 {
    color: #3bd71a; 
    border-radius: 0 50% 50% 0;
	min-width:100px;	
	max-width:120px;	
	width: 10%;
	height: 10%;
}

.gumbG3:hover {
    background-color: #927604;
    color: #1eac00;
}

.gumbGD {
    background-color: #927604;
    color: #1eac00;
	min-width:110px;
	max-width:130px;
	width: 10%;
	height: 10%;
}



div.GlavniMenu{
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: -10px;
}

body {
	background-image: url(../Backgrounds/glavniBackGround.png);	
}




div.slikaFolderja{
	color:rgb(245,245,245);
	font-size:16px;
	width: 217px;
	height: 252px;
	padding-top:10px;
	margin-left:6px;
	background-image:url(../Backgrounds/GalerijaFBackground.png);
	background-repeat:no-repeat;	
}




div.SpodnjiMenuInSponzorji{
	text-align: left;
	position:relative;
	bottom: -10px;
	margin-left: -10px;
	width:  100%;
	height:  80px;
	background-image:url(../Backgrounds/SpodnjiMenuBackground.png);
}

.spodnjaTabela {
	width: 80%;
}

.spodnjiMenu {
	color: #551A8B;
}

.spodnjiMenu:hover {
	cursor: pointer;
}
